@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: black;
  color: #bbbbbb;
}

h1 {
  font-family: 'Dynalight', cursive;
  font-size: 4rem;
  color: #eeeeee;
  text-align: center;
  padding: 8px 0;
  margin: 0;
  text-shadow: 0px 0px 12px #eeeeee;
}

#header {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  background-color: black;
}

div#hint {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

div#result {
  padding: 128px 32px 64px 32px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 0;
}
