body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: black;
  color: grey;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  padding: 32px;
  margin: 0;
}

#header {
  position: fixed;
  top:0;
  left:0;
  right: 0;
}

div#hint {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

div#result {
  padding: 64px;
  font-size: 18px;
  font-weight: bold;
}

ul {
  margin: 0;
}
